@import url(https://fonts.googleapis.com/css?family=Archivo:700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300);

.imageContainer {
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
    /* animation-name: moveLeftRight;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

.imageContainer:hover {
    transform: rotateY(180deg);
}

.headerContainer {
    width: 100%;
    /* background-color: aqua; */
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    /* background-color: #E37383; */
}

.introHeader h1 {
    font-family: 'Archivo';
    font-size: 32px;
}

.introHeader p{
    font-size: 15px;
}

.tagline {
    /* font-family: 'Archivo'; */
    color: #E37383;
    font-weight: 600;
    margin-bottom: 30px;
}

.links {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about {
    margin-top: 40px;
    font-size: 1px;
}

.menu {
    display: flex;
    flex-direction: row;
    font-family: 'IBM Plex Mono';
    align-items: center;
    justify-content: flex-start;
    
}

.menu a {
    display: block;
    color: black;
    text-decoration: none;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu a:hover {
    color: #E37383;
    text-decoration: none;
}

.home {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 15px;
}
/* 
body {
    background-color: whitesmoke;
}

p, h2, h3, ul {
    font-family: 'IBM Plex Mono', Inconsolata;
}

a {
    color: black;
}

a:hover{
    color: #E37383;
} */

/* @keyframes moveLeftRight {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(100%);
        }    
        100% {
            transform: translateX(0);
        }
} */